.search_on_navbar {
  position: fixed;
  left: 50%;
  top: 5px;
  transform: translate(-50%);
}

.fade-out-nav {
  animation: fade-out-nav 0.2s ease-in-out forwards;
}

.fade-in-nav {
  animation: fade-in-nav 0.3s ease-in-out forwards;
}

.search_on_navbar.hidden {
  display: none;
}

@keyframes fade-out-nav {
  from {
    opacity: 1;
    transform: translate(-50%, 10%) scale(1);
    top: 0px;
  }
  to {
    opacity: 0;
    transform: translate(-50%, 110%) scale(1.5);
    top: 0px;
  }
}

@keyframes fade-in-nav {
  from {
    opacity: 0;
    transform: translate(-50%, 180%) scale(1.5);
    top: 0px;
  }
  to {
    opacity: 1;
    transform: translate(-50%, 10%) scale(1);
    top: 0px;
  }
}

@media (max-width: 500px) {
  .search_on_navbar {
    font-size: 14px;
  }
}
