.search_bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 0px;
}

.fade-out {
  animation: fade-out 0.3s ease-in-out forwards;
}

.fade-in {
  animation: fade-in 0.3s ease-in-out forwards;
}

.search-bar.hidden {
  display: none;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translate(-50%, 50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -150%) scale(0.5);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -150%) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 50%) scale(1);
  }
}
