@import "variable";

.main_container {
  //   border: 1px solid orange;
}

.quick_option_wrapper {
  //   border: 1px solid blue;
}

.detail_options_wrapper {
  //   border: 1px solid blue;
}

.hotel_list_wrapper {
  //   border: 1px solid violet;
}

.map-wrapper {
  border: 1px solid violet;
}

.fa-solid {
  margin-right: 5px;
  font-size: 1rem;
}

.each_hotel_wrapper {
  //   border: 1px solid green;
  min-height: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
  box-shadow: $primary-light-shadow;
  padding: 10px;
}

.thumbnail_image {
  //   border: 1px solid red;
  height: 230px;
  object-fit: cover;
  padding: 0;
  border-radius: 20px;
}

.hotel_info_wrapper {
  border: 1px solid red;
  height: 230px;
  border-radius: 20px;
}
