// // # scss file import
// @import "~react-image-gallery/styles/scss/image-gallery.scss";

// // # css file import
// @import "~react-image-gallery/styles/css/image-gallery.css";

.custom-gallery-container {
  width: 1000px;
  //   height: 400px;
}

.custom-gallery-container img {
  max-width: 100%;
  max-height: 100%;
}
