@import "../variable";

.main_container {
  margin: 65px auto;
  background-color: #f3f3f3;
  position: relative;

  .filter_bar_container {
    .option_wrapper {
      padding: 10px;
      box-shadow: $primary-light-shadow;
      position: fixed;
      z-index: 2;
    }
  }

  .hotel_list_map_container {
    // background-color: #f3f3f3;
    padding: 10px;
    position: absolute;
    width: 100%;
  }

  .hotel_list_wrapper {
    border-radius: 20px;
    padding: 0 20px 20px;
  }

  .map-wrapper {
    iframe {
      box-shadow: $primary-light-shadow;
      width: 410px;
      max-width: 100%;
    }
  }

  .fa-solid {
    margin-right: 5px;
    font-size: 1rem;
  }

  .each_hotel_wrapper {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: $primary-light-shadow;
    padding: 10px;

    .thumbnail_image {
      height: 210px;
      object-fit: cover;
      padding: 0;
      border-radius: 10px;
    }

    .hotel_info_wrapper {
      min-height: 180px;
      border-radius: 20px;

      .other_info_wrapper {
        margin-top: 70px;
      }

      @media (max-width: 768px) {
        h3 {
          margin-top: 10px;
        }

        .other_info_wrapper {
          margin-top: 10px;
        }
      }
    }
  }
}
