@import "../variable";

.background {
  // height: 1100px;
  height: 100vh;
  background-image: url("../../../../public/images/hotel_list_3.jpg");
  background-size: cover;
}

.main_container {
  // border: 1px solid orange;
  margin-top: 100px;
  background-color: #f3f3f3;
  position: relative;
  height: 100vh;

  .option_wrapper {
    // border: 1px solid rgb(204, 160, 129);
    padding: 10px;
    box-shadow: $primary-light-shadow;
    position: relative;
    z-index: 1;

    .quick_option_wrapper {
      //   border: 1px solid blue;
    }

    .detail_options_wrapper {
      //   border: 1px solid blue;
    }
  }

  .hotel_list_map_container {
    // border: 1px solid blue;
    background-color: #f3f3f3;
    overflow-y: scroll;
    height: 80vh;
    padding: 10px;
    // margin-top: 3px;
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .hotel_list_wrapper {
    // border: 1px solid violet;
    // overflow-y: scroll;
  }

  .map-wrapper {
    iframe {
      height: 100vh;
      box-shadow: $primary-light-shadow;
    }
  }

  .fa-solid {
    margin-right: 5px;
    font-size: 1rem;
  }

  .each_hotel_wrapper {
    // border: 1px solid green;
    background-color: white;
    min-height: 250px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: $primary-light-shadow;
    padding: 10px;

    .thumbnail_image {
      //   border: 1px solid red;
      height: 230px;
      object-fit: cover;
      padding: 0;
      border-radius: 10px;
    }

    .hotel_info_wrapper {
      // border: 1px solid red;
      min-height: 180px;
      border-radius: 20px;

      .other_info_wrapper {
        // border: 1px solid red;
        margin-top: 70px;
      }

      @media (max-width: 768px) {
        h3 {
          margin-top: 10px;
        }

        .other_info_wrapper {
          // border: 1px solid red;
          margin-top: 10px;
        }
      }
    }
  }
}
